* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6E6E6;
}

header {
    text-align: center;
    font-size: 36px;
    margin: 60px 0;
}

main {
    max-width: 400px;
    width: 100%;
    position: relative;
    background-color: #2F3336;
    margin: 0 auto;
    color: #efefef;
    position: relative;
    padding: 20px;
}


.field {
    margin: 25px 0;
}

.field-input, .field label {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.field label {
    padding: .7em;
    font-size: 19px;
}

.field-input{
    padding: 10px 0;
    border: 0;
    outline: none;
    background-color: #2F3336;
    border-bottom: 3px solid #3B8686;
    color: #efefef;
    font-size: 17px;
    transition: 0.3s ease-in-out;
}

.field-input:focus {
    border-bottom-color: #A8DBA8;
}

.btn-main {
    display: block;
    margin: 3em auto;
    outline: none;
    padding: 10px;
    border: 1.5px solid #3B8686;
    border-radius: 50px;
    background-color: #3B8686;
    font-size: 17px;
    color: #efefef;
    width: 80%;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-main:hover {
    background-color: #2F3336;
}

.info {
    color: #F9D423;
    padding: 0.5em;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}

@media screen and (max-width: 540px) {
    main {
        max-width: none;
        padding: 20px 0;
    }
}