/* -- BODY -- */
body {
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'SansSerif';
    font-size: 17px;
}

/* -- HEADER -- */
header {
    font-size: 36px;
    text-align: center;
    margin: 60px auto;
}

/* -- MAIN -- */
main {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

h3 {
    margin-top: 3em;
    color: #3B8686;
}

/* -- FOOTER -- */
footer {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    background-color: #1E2225;
    color: #efefef;
}

/* -- FORM ADD FAULT -- */
.add-fault {
    display: inline-block;
    width: 100%;
    margin-bottom: 3em;
}

.form-group {
    display: inline-block;
    width: 20%;
}

.add-fault .form-group:last-child {
    width: 15%;
}

.form-group>label {
    display: block;
}

.form-group input[type="text"] {
    color: #efefef;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    border: 1.5px solid #3B8686;
    background-color: #2F3336;
    width: 90%;

}

.form-group input[type="text"]:focus {
    border-color: #A8DBA8;
}

.btn-main {
    outline: none;
    padding: 10px;
    border: 1.5px solid #3B8686;
    border-radius: 50px;
    background-color: #3B8686;
    font-size: 17px;
    color: #efefef;
    width: 70%;
    cursor: pointer;
}

.btn-main:hover {
    background-color: #2F3336;
}

/* INFO */

.info {
    color: #F9D423;
    padding: 0.5em;
    font-weight: bold;
    font-size: 19px;
}

/* -- SORT -- */
.sort-table {
    /*margin-top: 3em;*/
    display: inline-block;
    border: 1px dashed #3B8686;
    border-radius: 1em;
    padding: 0 1em;
}

.sort-group {
    display: inline-block;
    padding: 1em;
}

/* -- TABLE --*/

.customer-table, .status-table {
    margin-top: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.customer-table thead td, .status-table thead td {
    border-bottom: 3px solid #3B8686;
    font-weight: bold;
    font-size: 19px;
}

.customer-table tbody tr:nth-child(even), .status-table tbody tr:nth-child(even) {
    background-color: #3F4447;
}

.customer-table form {
    display: inline-block;
}

.action-in-row {
    width: 90px;
}

.no-change-info {

    color: #F9D423;
}

/* STATUS CLASS */
.status-green {
    color: #AEE239;
}

.status-yellow {
    color: #F9D423;
}

.status-red {
    color: #FF4E50;
}

/* BUTTON */

.btn-table {
    outline: none;
    border: none;
    background-color: #2F3336;
    font-size: 24px;
    padding: 0.1em;
    color: #efefef;
}

.customer-table tbody tr:nth-child(even) .btn-table {
    background-color: #3F4447;
}

.btn-table:hover {
    color: #efefef;
}

.btn-edit {
    color: #F9D423;
}

.btn-delete {
    color: #FF4E50;
}

.btn-pdf {
    color: #3B8686;
    text-decoration: none;
}

.btn-pdf:hover {
    color: #A8DBA8;
    text-decoration: underline;
}

/* -- UPDATE ROW.php -- */

.list-data {
    font-size: 19px;
    margin-bottom: 2em;
}

.list-data ul {
    padding: 0;
    list-style-type: none;
}

.list-data ul li {
    line-height: 2em;
}

.list-title {
    font-weight: bold;
    color: #A8DBA8;
}

.btn-in-update {
    width: 10%;
    margin-top: 1em;
}

a.btn-in-update {
    text-decoration: none;
}

.select-status {
    outline: none;
    padding: 10px;
    border: 1.5px solid #3B8686;
    background-color: #2F3336;
    font-size: 17px;
    color: #efefef;
    cursor: pointer;
}

.form-update {
    line-height: 3em;
}

/* -- RWD -- */

@media screen and (max-width: 1500px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 1270px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    main {
        width: 100%;
    }

}

@media screen and (max-width: 917px ) {
    .action-users {
        margin-top: 1em;
    }
}

@media screen and (max-width: 768px) {
    .form-group {
        width: 30%;
        margin: 0.5em;
    }
    .btn-main {
        width: 100%;
    }

    .btn-in-update {
        width: 30%;
    }

    .customer-table tr td:nth-child(3) {
        display: none;
    }

    .customer-table tr td {
        padding: 0 0.4em;
    }

    footer {
        position: relative;
    }

    .action-in-row {
        width: 45px;
    }

    .sort-table {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 680px) {
    .form-group {
        width: 40%;
    }

    .customer-table tr td:nth-child(1), .customer-table tr td:nth-child(7) {
        display: none;
    }

    .customer-table tr td:last-child {
        width: 10%;
    }
}


@media screen and (max-width: 540px) {
    .customer-table tr td:nth-child(4) {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .form-group {
        width: 95%;
    }

    .add-fault .form-group:last-child {
        width: 95%;
    }

    .btn-main {
        width: 95%;
    }

    .sort-table .sort-group:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .customer-table {
        font-size: 15px;
    }
}