/* -- BODY -- */
body {
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'SansSerif';
    font-size: 17px;
}

/* -- HEADER -- */
header {
    font-size: 36px;
    text-align: center;
    margin: 60px auto;
}

/* -- MAIN -- */
main {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

/* -- FOOTER -- */
footer {
    width: 100%;
    margin-top: 100px;
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    background-color: #1E2225;
    color: #efefef;
    position: fixed;
    bottom: 0;
}

/* -- FORM ADD FAULT -- */
.add-fault {
    display: inline-block;
    width: 100%;
}

.form-group {
    display: inline-block;
    width: 20%;
}

.add-fault .form-group:last-child {
    width: 15%;
}

.form-group>label {
    display: block;
}

.form-group input[type="text"] {
    color: #efefef;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    border: 1.5px solid #3B8686;
    background-color: #2F3336;
    width: 90%;
}

.form-group input[type="text"]:focus {
    border-color: #A8DBA8;
}

.form-group input[type="submit"] {
    outline: none;
    padding: 10px;
    border: 1.5px solid #3B8686;
    border-radius: 50px;
    background-color: #3B8686;
    font-size: 17px;
    color: #efefef;
    width: 70%;
}

.form-group input[type="submit"]:hover {
    background-color: #2F3336;
}

/* -- CUSTOMER TABLE --*/

.customer-table {
    margin-top: 5em;
}

.customer-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.customer-table thead td {
    border-bottom: 3px solid #3B8686;
    font-weight: bold;
    font-size: 19px;
}

.customer-table tbody tr:nth-child(even) {
    background-color: #3F4447;
}

/* STATUS CLASS */
.status-green {
    color: #AEE239;
}

.status-yellow {
    color: #F9D423;
}

.status-red {
    color: #FF4E50;
}

/* BUTTON */

.btn-table {
    outline: none;
    border: none;
    background-color: #2F3336;
    font-size: 24px;
    padding: 0.1em;
    color: #efefef;
}

.customer-table tbody tr:nth-child(even) .btn-table {
    background-color: #3F4447;
}

.btn-table:hover {
    color: #efefef;
}

.btn-edit {
    color: #F9D423;
}

.btn-delete {
    color: #FF4E50;
}

/* -- RWD -- */

@media screen and (max-width: 1500px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 1270px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    main {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .form-group {
        width: 30%;
        margin: 0.5em;
    }
    .form-group input[type="submit"] {
        width: 100%;
    }

    .customer-table tr td:nth-child(3) {
        display: none;
    }

    .customer-table tr td {
        padding: 0 0.4em;
    }

    footer {
        position: relative;
    }
}

@media screen and (max-width: 680px) {
    .form-group {
        width: 40%;
    }

    .customer-table tr td:nth-child(1), .customer-table tr td:nth-child(7) {
        display: none;
    }

    .customer-table tr td:last-child {
        width: 10%;
    }
}


@media screen and (max-width: 540px) {
    .customer-table tr td:nth-child(4) {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .form-group {
        width: 95%;
    }

    .add-fault .form-group:last-child {
        width: 95%;
    }

    .form-group input[type="submit"] {
        width: 95%;
    }
}

@media screen and (max-width: 370px) {
    .customer-table {
        font-size: 15px;
    }
}